@{
    ViewBag.Title = "Contact";
}




<h2> Contact Us</h2>
<div class="container">
    <div class="row">
        <form method="post" action="Msg">

            <div class="form-control">
                <input type="text" class="col-md-12" name="txtName" id="txtName" placeholder="Enter Name " required="" />
            </div>

            <div class="form-control">
                <input type="text" class="col-md-12" name="txtEmail" id="txtEmail" placeholder="Enter Email " required="" />
            </div>

            <div class="form-control">
                <input type="text" class="col-md-12" name="txtMsg" id="txtMsg" placeholder="Enter Message  " required="" />
            </div>


            <div class="form-control">
                <input type="submit" value="Send Message " class="col-md-12 btn btn-warning" />
            </div>




        </form>

    </div>
</div>
