@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>WELCOME</h1>
    <p class="lead">
        Simple Phone book Directory that enabling to enter the details of the phone number using the crud operation <br/>
        Click on Menu Bar for entering details in the table and Login system is on the title name
    </p>

</div>

<div class="row">
    <div class="col-md-4">


    </div>


</div>