
@{
    ViewBag.Title = "Operator";
}



<h2>Operators</h2>
<h3>The following table displays the operators providing services in different areas.</h3>
<p>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Helpline
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                21
            </td>
            <td>
                Vodafone
            </td>
            <td>
                24324
            </td>

        </tr>

        <tr>
            <td>
                47
            </td>
            <td>
                AirTel
            </td>
            <td>
                569854
            </td>

        </tr>

    </tbody>
</table>




