@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Click Here to add Details </h1>



<a href='@Url.Action("PhoneList","PhoneDetails")' class="btn btn-primary">Add New Record </a>
<br /> <hr/>
<a href='@Url.Action("displayMessage","ViewMessage")' class="btn btn-primary">View Contact </a>