
@{
    ViewBag.Title = "Login";
}

<h2> Admin Login</h2>
<div class="container">
    <div class="row">
        <form method="post" action="Login_Check">

            <div class="form-control">
                <input type="text" class="col-md-12" name="AdminID" id="AdminID" placeholder="Enter User Name " required="" />
            </div>

            <div class="form-control">
                <input type="text" class="col-md-12" name="AdminPassword" id="AdminPassword" placeholder="Enter User Password " required="" />
            </div>

            <div class="form-control">
                <input type="submit" value="Sign IN" class="col-md-12 btn btn-warning" />
            </div>




        </form>

    </div>
</div>
